.logo{
    width: 134px;
    height: 33px;
    float: left;
    background-image: url(./../image/科迈图标.png);
    display: flex;
    margin-top: 15px;
}

.header{
    background: #ffffff;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 242, 245);
}

.right_all{
    float: right;
    height: 100%;
    overflow: hidden;
}

.right_action{
    cursor: pointer;
    padding: 0 12px;

    height: 100%;
    display: flex;
    align-items:center
}

.meum_all{
    background: rgb(240, 242, 245);
    display: inline-block;
    width:100%;
    height: 100%;
}


.all_data{
    display: inline-block;
    width:78%;
    margin-left: 20%;
    margin-top: 3%;
    background: rgb(240, 242, 245);
    overflow: hidden;
    height: 500px;
    overflow: auto;
    margin-bottom: 3%;
    height: 800px;
    overflow: hidden;
}

.all_list{
    height: 85%;
    width:16%;
    float: left;
    background: #ffffff;
    align-items:center;
    position: fixed;
}
.wz{
    padding-left: 30px; 
    font-size: 24px;
    width: 73px;
    height: 45px;
}

.list_1{
    width: 100%;
}

.ant-menu-item{
    width: 100%;
    /* margin-top: 40px; */
    /* padding: 0 20%; */
    height: 80px;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 242, 245);
    border-bottom-width: 1px;

}
.active{
    width: 100%;
}
/* .op{
    background-color: white;
    color: white;
}
.op:hover{
    color: red;
} */

.list_photo{
    width: 100%;
    height: 80px;
    cursor: pointer;
}

.avatar_image{
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}

.avatar_image>img{
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.footer{
    width:100%;
    background: #ffffff;
    line-height:100px;
    text-align:center;
    display: inline-block;
}

.name___POSeq{
    vertical-align: middle;
    display: flex;
    align-items:center;
}

.zx{
    margin-left: 10px;
    vertical-align: middle;
    display: flex;
    align-items:center;
    color: rgb(180, 180, 180);
}

.name___POSeq>img{
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    color: rgb(0, 0, 0);
}

.body{
    width:100%;
    display: flex;
    flex: auto;
}

.ant-layout-sider{
    background: rgb(255, 255, 255); 
    flex: 0 0 200px; 
    max-width: 200px; 
    min-width: 200px; 
    width: 200px;
}

.all_data .tb{
    background: rgb(240, 242, 245);
    width: 100%;
    overflow: hidden;
    text-align: center;
    /* display: inline-block; */
}

.all_data .htr{
    height: 50px;
    font-size: 20px;
    background: rgb(240, 242, 245);
    width: 100%;
}

.all_data .htr th{
    text-align: center !important;
}

.all_data .tb button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 18px;
    padding: 0 5px 0 5px;
    color: #909399;
}

.datatr{
	background: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    height: 50px;
    color: #909399;
}


.add_ img{
    cursor: pointer;
    width: 140px;
    height: 60px;
}

#add_teacher{ 
    left:33%;
    top: 20%; 
    width:700px; 
    height:500px; 
    position:fixed;
    background-color: white;
    display: none;
    z-index: 9999;
    /* text-align: center; */
}

#batch_add{ 
    top: 0; 
    width:700px; 
    height:500px; 
    position:absolute;
    background-color: white;
    display: none;
    z-index: 9999;
    /* text-align: center; */
}

#tittle_1{
    margin-left: 25px;
    margin-top: 50px;
    font-size: 30px;
    color: #5BB1FB;
    width: 650px;
}

.pop{
    margin-top: 35px;
    font-size: 25px;
    color: #666666;
}

.pop p{
    padding-left: 100px;
}


.pop span{
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#iop1{
    font-size: 18px;
    padding-top: 40px;
    color: #5BB1FB;
}

#add_teacher .pop input{
    margin-top: 50px;
    margin-left: 20px;
    width: 350px;
    line-height: 40px;
    padding-left: 10px;
    background:#F9F9F9;
    outline: none;
    border: 0px none;
}

#option {
    margin: 65px 45px 0px;
    padding-bottom: 25px;
    height: 40px;
    text-align: right;
}

.hover {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 9998;
    display: none
}

.del-data {
    display: inline-block;
    cursor: pointer;
    height: 25px;
    width: 50px;
    border-radius: 15px;
    padding: 4px 25px;
    border: 1px rgb(223, 223, 223) solid;
}

.del-data:hover{
    display: inline-block;
    cursor: pointer;
    height: 25px;
    width: 50px;
    border-radius: 15px;
    padding: 4px 25px;
    border: 1px rgb(223, 223, 223) solid;
    color: rgb(255, 255, 255);
    background-color: #5BB1FB;
}

#option .button{
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    width: 80px;
    border-radius: 30px;
    text-align:center;
    padding: 12px 25px;
    font-size: 18px;
    border: 1px rgb(223, 223, 223) solid;
}

#option .save{
    background-color: #5BB1FB;
    color: rgb(255, 255, 255);
}

#option .delSave{
    background-color: #5BB1FB;
    color: rgb(255, 255, 255);
}

#option .cannel{
    color: #5BB1FB;
}

#upo9 {
    cursor: pointer;
}

#upo3 {
    cursor: pointer;
}

.bd {
    width: 75px;
}

.bd:hover{
    width: 75px;
}

.del_window{
    left:33%;
    top: 30%; 
    width:700px; 
    height:260px; 
    position:fixed;
    background-color: white;
    display: none;
    z-index: 9999;
    text-align: center;
}